html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding-bottom: max(1rem, env(safe-area-inset-bottom));
  padding-left: max(1rem, env(safe-area-inset-left));
  padding-right: max(1rem, env(safe-area-inset-right));
}